dmitrvk.ml {
    encode gzip

    handle /api/* {
      reverse_proxy http://backend:8000
    }

    handle {
      root * /srv
      try_files {path} /index.html
      file_server
    }
}

www.dmitrvk.ml {
    redir https://dmitrvk.ml{uri}
}

s.dmitrvk.ml {
    reverse_proxy http://short:8000
}

catalogs.dmitrvk.ml {
    handle /static/* {
        root * /srv/catalogs
        file_server
    }

    reverse_proxy http://catalogs:8000
}

notifications.dmitrvk.ml {
    handle /static/* {
        root * /srv/notifications
        file_server
    }

    reverse_proxy http://notifications:8000
}
