@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
  width: 100%;
}

body {
  background: #e1e1e1;
  color: #1e1e1e;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 16px;
}

main {
  text-align: center;
}

a {
  color: #1e1e1e;
  font-size: 16px;
  height: 64px;
  line-height: 64px;
  outline: 0;
  text-decoration: none;
  width: 100%;
}

li {
  transition-property: transform;
  transition-duration: 0.1;
}

li:focus, li:hover {
  transform: scale(1.05);
}

li:active {
  transform: scale(1.00);
}

.a-test {
  color: #a5a5a5;
}

ul {
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

li {
  display: block;
}

form {
  display: grid;
  margin: 16px;
  font-size: 16px;
}

input {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 300;
  margin: 8px;
  outline: 0;
  padding: 8px;
}

input[type="submit"] {
  background: inherit;
  color: inherit;
  cursor: pointer;
  padding: 16px;
  transition-property: transform;
  transition-duration: 0.1;
}

input[type="submit"]:active {
  transform: scale(0.95);
}

footer {
  bottom: 0%;
  font-size: 16px;
  margin-bottom: 16px;
  position: fixed;
  text-align: center;
  width: 100%;
}
