{% extends "base.html" %}
{% block content %}
<h1>Dmitry Kalyukov</h1>
<nav>
  <ul>
    <a href="/resume"><li>Resume</li></a>
    <a href="/notes"><li>Notes</li></a>
    <a href="/music"><li>Music</li></a>
  </ul>
</nav>
<section class="social">
  <a href="https://linkedin.com/in/dmitrykalyukov" target="_blank" rel="noreferrer">
    <img class="social-icon" src="https://simpleicons.org/icons/linkedin.svg" alt="LinkedIn"/>
  </a>
  <a href="https://github.com/dmitrvk" target="_blank" rel="noreferrer">
    <img class="social-icon" src="https://simpleicons.org/icons/github.svg" alt="GitHub"/>
  </a>
  <a href="https://instagram.com/dmitry.kalyukov" target="_blank" rel="noreferrer">
    <img class="social-icon" src="https://simpleicons.org/icons/instagram.svg" alt="Instagram"/>
  </a>
  <a href="https://t.me/dmitrvk" target="_blank" rel="noreferrer">
    <img class="social-icon" src="https://simpleicons.org/icons/telegram.svg" alt="Telegram"/>
  </a>
</section>
{% endblock content %}
