<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notes, sheet music" />
    <title>Dmitry Kalyukov</title>
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>
  <body>
    <div class="root">
      <main>
        <h2>{{ note.name }}</h2>
        <section>
          <div>
            {% for page in note.pages %}
              <img class="page" src="{{ page }}" alt="Page {{ loop.index - 1 }}" />
                {% if loop.index < note.pages|length %}
                  <hr />
                {% endif %}
            {% endfor %}
          </div>
        </section>
        <footer>
          <p><a href="/">dmitrvk.ml</a> | 2022</p>
        </footer>
      </main>
    </div>
  </body>
</html>
