<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notes, sheet music" />
    <title>Dmitry Kalyukov</title>
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>
  <body>
    <div class="root">
      <main>
        <p>
          <a
            href="https://github.com/dmitrvk"
            target="_blank"
            rel="noreferrer"
          >GitHub</a>
          &emsp; &emsp; &emsp;
          <a
            href="https://linkedin.com/in/dmitrykalyukov"
            target="_blank"
            rel="noreferrer"
          >LinkedIn</a>
          &emsp; &emsp; &emsp;
          <a
            href="/public/resume/DmitryKalyukov.pdf"
            target="_blank"
            rel="noreferrer"
          >Download</a>
        </p>
        <p>
          <img
            class="resume"
            src="/public/resume/resume.jpg"
            alt="Resume"
          />
        </p>
        <footer>
          <p><a href="/">dmitrvk.ml</a> | 2022</p>
        </footer>
      </main>
    </div>
  </body>
</html>
