{% extends "base.html" %}
{% block content %}
<p>
  <a
    href="https://github.com/dmitrvk"
    target="_blank"
    rel="noreferrer"
  >GitHub</a>
  &emsp; &emsp; &emsp;
  <a
    href="https://linkedin.com/in/dmitrykalyukov"
    target="_blank"
    rel="noreferrer"
  >LinkedIn</a>
  &emsp; &emsp; &emsp;
  <a
    href="/public/resume/DmitryKalyukov.pdf"
    target="_blank"
    rel="noreferrer"
  >Download</a>
</p>
<p>
  <img
    class="resume"
    src="/public/resume/DmitryKalyukov.png"
    alt="Resume"
  />
</p>
{% endblock content %}
